/* Aplica Globalmente */
* {
  /* Aplica Font Roboto, se nao encontrar aplica sans-serif */
  font-family: 'Roboto', sans-serif;  
  box-sizing: border-box;
}

/*   . class   */
/*   # id      */

.body {
  background-color: #faf8fc;
}


.content {
  width: 100vv;
  height: 100vh;
  padding: 1rem;             /* dist borda pra fora        */
  background-color: #fff;
}


@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
