.evo__title {
    margin-top: 0;
}

.evo__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.evo__cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.evo__cell--pointer {
    color: lightgray;
    font-size: 2rem;
}

.evo__cell span:first-of-type {
    text-transform: capitalize;
}

.pokemon__evo--imagem {
    max-width: 50%;
}