.pokemon__stats {
    background: white;
    border-radius: 2rem 2rem 0 0;
    bottom: 0;
    left: 0;
    height: 60vh;
    position: absolute;
    width: 100%;
}

.pokemon__stats ol {
    list-style: none;
    padding: 0;
}

.pokemon__stats--imagem {
    height: 100%;
    max-width: 50%;
    position: relative;
    top: -30%;
    z-index: 1;
    justify-self: flex-end;
}

.stats__headers {
    margin: 0;
    list-style-type: none;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.stats__headers li {
    cursor: pointer;
    z-index: 2;
}

.stats__item--titulo {
    color: lightgray;
    padding: 1rem 0;
    display: block;
    min-width: 80px;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
}

.stats__item--titulo.item__ativo {
    color: black;
    border-bottom: 4px solid purple;
}