
.pokemons {                          /* lista de pokemons                    */
  display: grid;                       /* estilo da lista = grid = tabela      */
  grid-template-columns: 1fr ;      /* tabela 2 colunas, cada  1 fracao     */
  list-style: none;                    /* sem estilo de lista                  */
  padding: 0;                          /* dist bord pra fora                   */
  margin: 0;                           /* dist bord para dentro                */
}

.pokemon {                        /* pokemon da lista                     */
  display: flex;
  flex-direction: column;
  padding: 1rem;                          /* dist bord pra fora                   */
  margin: .5rem;                       /* dist bord para dentro                */
  border-radius: 1rem;         /* arredondar bordas                   */
  color: #fff;         /* cor do texto                   */
}


.pokemon .number {
  color: #000;
  opacity: .3;
  text-align: right;
  /* font-size: .625rem; */
}

.pokemon .name {
  color: #fff;
  margin-bottom: 0;
  text-transform: capitalize;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  color: #fff;
  padding: .25rem .5rem;
  margin: .25rem 0;
  font-size: .625rem;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
}

.pokemon .detail img{                        /* pokemon da lista                     */
  max-width: 100%;
  height: 70px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button{
  color: #fff;
  padding: .25rem .5rem;
  margin: .25rem 0;
  font-size: 625rem;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;      /* tabela 2 colunas, cada  1 fracao     */
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;      /* tabela 2 colunas, cada  1 fracao     */
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;      /* tabela 2 colunas, cada  1 fracao     */
  }
}

